/*覆盖sui的属性*/
body,.page-group,.page-group.page-current, .page.page-current{
  overflow-y:scroll; 
}
.list-block .item-media+.item-inner{
  margin-left: 0;
}
.list-block .item-content{
  padding-right: 0.75rem;
}
.list-block{
  margin: rem(10) 0 0 0;
  font-size: rem(20);
}
.list-block .item-link .item-inner{
  background-image: url(/assert/img/r_top_icon.svg);
  background-size: rem(14) rem(16);
}
.list-block .item-title,.list-block .item-after{
  color: #353633;
}
.list-block .item-inner {
  padding-top: rem(24);
  padding-bottom: rem(24);
}
/*覆盖sui的属性*/

/*自定义的属性*/
.topImage {
  height: rem(240);
  width: 100%;
  padding-top: rem(28);
  background: url(/assert/img/usercenter-bg.png) no-repeat 50% 50%/100% 100%;
  .userImg {
    width: rem(140);
    height: rem(140);
    border-radius: 50%;
    margin: 0 auto rem(16);
    border: solid 2px #e1e1e1;
    .userImgInner {
      img {
        width: 100%;
        height: 100%;
      }
      width: rem(120);
      height: rem(120);
      border-radius: 50%;
      overflow: hidden;
      margin: rem(8) auto;
    }
  }
  .userNick {
    text-align: center;
    font-size: rem(24);
    color: white;
    margin-bottom: rem(14);
  }
}

.tab {
  background: white;
  width: 100%;
  padding: rem(20) 0;
  overflow: hidden;
  .middle_tab {
    border-left: solid 1px #e1e1e1;
    border-right: solid 1px #e1e1e1;
  }
  >div {
    width: 33.33%;
    float: left;
    text-align: center;
  }
}

.list-block{
  .item-title{
    text-indent: 30px;
  }
  .memberCard{
    background: url(/assert/img/memberCard.svg) no-repeat 0 50%/20px 100%;
  }
  .discountCard{
    background: url(/assert/img/money_bg.svg) no-repeat 0 50%/20px 100%;
  }
  .goodsCard{
    background: url(/assert/img/card_icon.svg) no-repeat 0 50%/20px 100%;
  }
  .memberInfo{
    background: url(/assert/img/memberInfo.svg) no-repeat 0 50%/20px 100%;
  }
  .serviceTel{
    background: url(/assert/img/serviceTel.svg) no-repeat 0 50%/20px 100%;
  }
  .security{
    background: url(/assert/img/security.svg) no-repeat 0 50%/20px 100%;
  }
  .advice{
    background: url(/assert/img/pen_icon.svg) no-repeat 0 50%/20px 100%;
  }
  .addresses{
    background: url(/assert/img/addresses.svg) no-repeat 0 50%/20px 100%;
  }
}
/*自定义的属性*/