// 页面信息
.web-info{
    padding:rem(10) rem(60);
    margin-bottom: rem(100);
    .contact{
        display: flex;
        padding: rem(30) 0;
        .left{
            width: 60%;
            i{
                font-size: rem(50);
                color: #535353;
            }
            b{
                font-size: rem(30);
                color: #535353;
            }
            p{
                font-size: rem(26);
                color: #535353;
                margin: rem(20) 0;
            }
        }
        .right{
             width: 40%;
             height: rem(100);
             display: flex;
             align-items: center;
             justify-content: center;
             border: 1px solid #535353;
             border-radius: rem(50);
             font-size: rem(30);
             color: #535353;
        }
    }
    .links{
        display: flex;
        a{
            display: block;
            width: 25%;
            padding: rem(20) 0;
            font-size: rem(26);
            color: #535353;
            text-align: center;
        }
    }
    >p{
        font-size: rem(24);
        color: #535353;
        text-align: center;
        margin: rem(10) 0;
    }
}

//底部标签栏
footer{
    height: rem(100);
    width: 100%;
    background-color: #eee;
    border-top: 1px solid #ccc;
    position: fixed;
    left: 0;
    bottom: 0;
    display: flex;
    .item{
        padding-top: rem(10);
        flex: 1;
        text-align: center;
        font-size: rem(24);
        color: #999999;
        >div{
            vertical-align: middle;
        }
        .icon{
            height: 50%;
            font-size: rem(32);
        }
    }
    .active{
        color: #FF6D0D;
    }
}