// index
header{
    height: rem(88);
    padding: rem(16) rem(20);
    background-color: #F7F7F7;
    .menu{
        color: #A09B9B;
        margin-right: rem(10);
        vertical-align: middle;
    }
    .inputbox{
        display: inline-block;
        height: 100%;
        width: rem(650);
        vertical-align: middle;
        padding-left: rem(20);
        border-radius: rem(36);
        background-color: #fff;
        input{
           height: 100%;
           line-height: 100%;
           width: rem(560);
           vertical-align: middle;
           border: none;
           outline: none;
        }
        i{
            color: #A09B9B;
        }
    }
}

.swiper-container{
    .swiper-slide{
        img{
           width: 100%;
           height: rem(400);
        }
    }
}
.swiper-pagination-bullet{
    background-color: #FFFFFF;
}
.swiper-pagination-bullet-active{
    background-color: #E4393C;
}
// 分类菜单
.menubox{
    display: none;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10000;
    margin-top: rem(88);
    .fenlei{
        border-top: 2px solid #eee;
        border-bottom: 2px solid #eee;
        display: flex;
        flex-wrap: wrap;
        background-color: #fff;
        padding: rem(40);
        .item{
            width: 25%;
            margin-bottom: rem(30);
            text-align: center;
            font-size: rem(24);
            color: #535353;
            i{
                font-size: rem(46);
                color: #535353;
                margin-bottom: rem(10);
            }
        }
    }
}

// 4句标语
.slogan{
    padding: rem(30);
    display: flex;
    .item{
        width: 25%;
        text-align: center;
        font-size: rem(26);
        color: #535353;
        img{
            width: rem(70);
            margin-bottom: rem(10);
        }
    }
}
//4张图片  index-test
.index-test{
    padding: rem(20) rem(20) rem(40) 0;
    background-color: #f9f9f9;
    display: flex;
    flex-wrap: wrap;
    a{
        display: block;
        padding: rem(20) 0 0 rem(20);
        width: 50%;
        img{
            width: 100%;
        }
    }
}
//人气新品
.index-news{
    padding: rem(30) 0;
    background-color: #f4f4f4;
    text-align: center;
    .news-span1{
        display: inline-block;
        font-size: rem(52);
        color: #5c5c5c;
        border-bottom: .01rem solid #5c5c5c;
    }
    .news-span2{
        display: inline-block;
        font-size: rem(24);
        color: #303030;
    }
}
.newslist{
    background-color: #f4f4f4;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    a{
        display: block;
        background-color: #f4f4f4;
        margin-bottom: rem(6);
    }
    .full{
        width: 100%;
        img{width: 100%;display: block;}
    }
    .half{
        width: 49.5%;
        img{width: 100%;display: block;}
    }
}
// 分类礼物展示
.list-title{
    padding: rem(32);
    background-color: #f4f4f4;
    font-size: rem(30);
    color: #5c5c5c;
    a{
        float: right;
        .cir{
            display: inline-block;
            width:rem(10);
            height: rem(10);
            border-radius: 50%;
            background: #cab8a2;
            margin: 0 .02rem;
            vertical-align: middle;
        }
    }
}
.list{
    background-color: #f4f4f4;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    a{
        display: block;
        background-color: #fff;
        margin-bottom: rem(6);
    }
    .full{
        width: 100%;
        img{width: 100%;display: block;}
    }
    .half{
        width: 49.5%;
        padding: rem(20);
        img{width: 100%;display: block;}
        font-size: rem(26);
        color: #585B5A;
        text-align: center;
        .price{color: #d93732;}
        p{margin:rem(10) 0;}
    }
}